<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="ArquivoCertificado" value=""/>
    <add key="SenhaCertificado" value=""/>
    <add key="CredenciamentoPaf" value="012345678910"/>
    <add key="ListaCancelamento" value="ListaCancelamento.txt"/>
    <add key="MotivoCancelamento" value="Cancelamento para ajuste da Venda Bruta diaria."/>
    <add key="ListaXML" value="ListaXML.txt"/>
    <add key="TempoEsperaEnvio" value="0"/>
    <add key="ListaConsulta" value="ListaConsulta.txt"/>
    <add key="TempoEsperaConsulta" value="0"/>
    <add key="ListaDownloadArquivo" value="ListaDownloadArquivo.txt"/>
    <add key="TempoEsperaDownload" value="0"/>
    <add key="ListaConsultarPendenciasContribuinte" value="ListaConsultarPendenciasContribuinte.txt"/>
    <add key="PathXML" value="XMLs"/>
    <add key="PathLogs" value="Logs"/>
    <add key="AjustaCredencimanetoPaf" value="false"/>
    <add key="AjustaVendaBrutaDiaria" value="false"/>
    <add key="AjustaValorTotalizador" value="false"/>
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BlocoXSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://webservices.sef.sc.gov.br/wsDfeSiv/BlocoX.asmx"
        binding="basicHttpBinding" bindingConfiguration="BlocoXSoap"
        contract="SefazSC.BlocoXSoap" name="BlocoXSoap" />
    </client>
  </system.serviceModel>
</configuration>